.app {
  background: $background;
  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template-columns: [endLeft] auto [mainLeft] $mainWidth [mainRight] auto [endRight];
  grid-template-rows: [top] min-content [top-1] min-content [divider-1] auto [bottom-1] min-content [bottom];

  @media screen and (max-width: $mainWidth) {
    grid-template-columns: [endLeft] 0px [mainLeft] auto [mainRight] 0px [endRight];
  }

  color: $foreground;
  font-size: $baseSize;
  box-sizing: border-box;
}

.divider {
  display: block;
  grid-column-start: endLeft;
  grid-column-end: endRight;

  border-top: none;
  border-bottom: 1px solid $foreground;
  margin: 0;
}
