.app {
  background: $background;
  height: 100%;

  display: grid;
  grid-template-columns: [left] auto [right];
  grid-template-rows: [top] min-content [top-1] auto [bottom-1] min-content [bottom];

  color: $foreground;
  font-size: $baseSize;
  box-sizing: border-box;
}