.editor {
    padding: 0 0 0 $baseSize;
    position: relative;
  
    label {
      @include visuallyHidden();
    }
  
    textarea {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      display: block;
      padding: 8px 0 0 0;
      resize: none;
  
      background: transparent;
      color: $midground;
      border: none;
      font-size: $baseSize; 
  
      &:focus {
        outline: 0;
        color: $foreground;
      }
    }
  }