@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono-Regular.ttf')
}

$background: #02070c;
$foreground: #17a812;
$midground: #169112;
$darktext: #13750f;
$baseSize: 16px;
$mainWidth: 1200px;

@mixin visuallyHidden() {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.visually-hidden { 
  @include visuallyHidden();
}
