@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono-Regular.ttf')
}

$background: #002952;
$foreground: #D9D9D9;
$midground: #C0C0C0;
$darktext: #696969;
$baseSize: 16px;

@mixin visuallyHidden() {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.visually-hidden { 
  @include visuallyHidden();
}
